In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
from math import sqrt

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

import warnings
warnings.filterwarnings('ignore')

# 1. Load the tips dataset from either `pydataset` or `seaborn`.

In [7]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# 2. Fit a OLS model and compute yhat, predictions of tip using total_bill.
Ordinary Least Squares Linear Regression Model

In [37]:
# creating DataFrame for X (features) and Series for y (target)
X = pd.DataFrame(tips.total_bill)
y = tips.tip

# concatenating y Series to X DataFrame
tips_ready = pd.concat([X, y], axis = 1)

In [43]:
# creating Ordinary Least Squares (OLS) Linear Regression model object and fitting model to data
ols = LinearRegression().fit(X, y)

#making y_hat predictions
y_hat_pred = ols.predict(X)

# creating new predictions column
tips_ready['y_hat'] = y_hat_pred

# preview df
tips_ready.head()

   total_bill   tip     y_hat
0       16.99  1.01  2.704636
1       10.34  1.66  2.006223
2       21.01  3.50  3.126835
3       23.68  3.31  3.407250
4       24.59  3.61  3.502822